.menu-toggle {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 10px;
  align-items: center;
  margin-top: 17px;
  padding: 0 23px;
  cursor: pointer;
  z-index: 5;
}

.menu-toggle::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background: #6070ff;
  transform: translateY(13px);
  transition: 0.5s;
}

.active.menu-toggle::before {
  transform: translateY(2px) rotate(45deg);
  background: #fff;
}

.menu-toggle::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background: #6070ff;
  box-shadow: 0 -8px 0 #6070ff;
  transform: translateY(5px);
  transition: 0.5s;
}

.active.menu-toggle::after {
  transform: translateY(0) rotate(-45deg);
  box-shadow: 0 0 0 #fff;
  background: #fff;
}
